/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
 * default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

     *,
     *::before,
     *::after {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
     }
 }

/* Global Styles */

:root {
    --step--2: clamp(0.63rem, calc(0.64rem + -0.01vw), 0.64rem);
    --step--1: clamp(0.80rem, calc(0.78rem + 0.08vw), 0.84rem);
    --step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.50rem);
    --step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2.00rem);
    --step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
    --step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
    --step-5: clamp(3.05rem, calc(2.47rem + 2.93vw), 4.74rem);

    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);


    font-family: 'Roboto', sans-serif;
    font-size: 16pt;

    --color-blue: #5BCEFA;
    --color-pink: #F5A9B8;
    --color-white: #FFFFFF;
    --color-black: #111111;
}

.icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    font-family: 'Material Symbols Outlined';
}

h1,h2,h3,h4,h5 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1 {
    font-size: var(--step-5);
}

h1 a {
    text-decoration: none;
}

h2 {
    font-size: var(--step-2);
}

h3 {
    font-size: var(--step-1);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

blockquote {
    border-left: var(--space-xs) solid var(--secondary-block-color, var(--color-blue));
    padding-left: var(--space-s);
}

/* Comosition */
 
.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: var(--cover-padding, 1rem);
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child:not(.cover__mid) {
  margin-block-start: 0;
}

.cover > :last-child:not(.cover__mid) {
  margin-block-end: 0;
}

.cover > .cover__mid {
  margin-block: auto;
}

.cover[data-except="cover-pad-wide"] {
    --cover-padding: clamp(1rem, 5vw, 4rem);
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * {
    margin-block: 0;
} 

.stack > * + * {
    margin-block-start: var(--space, 1em);
}

/* Utilities */

.bg-black {
    background-color: var(--color-black);
}

.text-pink {
    color: var(--color-pink);
}

.text-white {
    color: var(--color-white);
}

.text-blue {
    color: var(--color-blue);
}

.text-center {
    text-align: center;
}

.text-lg {
    font-size: var(--step-3);
}
.text-md {
    font-size: var(--step-2);
}

.padding-md-lg {
    padding: var(--space-m-l);
}

.padding-s {
    padding: var(--space-s);
}

/* blocks */

.article-block {
    width: 100%;
    max-width: 85ch;
    margin-inline: auto;
    border: 1rem solid var(--primary-block-color);
    padding: 1rem;
}

.article-block:nth-child(even) {
    --primary-block-color: var(--color-blue);
    --secondary-block-color: var(--color-pink);
}

.article-block:nth-child(odd) {
    --primary-block-color: var(--color-pink);
    --secondary-block-color: var(--color-blue);
}
